/**
 *  ~ Font Related Setup
 */

 @font-face {
     font-family: 'Roboto';
     src: url(../assets//fonts/Roboto-Regular.ttf);
     src: url(../assets//fonts/Roboto-Bold.ttf);
 }

/**
 *  ~ Default HTML stylings.
 */
body, html {
    width: 100%;
    height: 100%;
    font-family: Roboto;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: minmax(15%, 150px) 1fr;
    overflow: hidden;

    &.active {
        animation: pulse ease 0.11s;
    }
}

@keyframes pulse {
    from, to {
        transform: translate(0, 0), scale(0), rotate(0)
    }
    50% {
        transform: scale(1.02) rotate(0.52deg)
    }
    75% {
        transform: scale(1)
    }
}

/**
 *  ~ Styling the title + Add Item button.
 */
header {
    background: #1a1a27;
    color: #fffff6;
    padding: 20px;
    display: grid;
    align-items: center;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

#add-item {
    border-radius: 5px;
    background: #8a8ab355;
    border: 4px solid #fff;
    background-size: 70px 70px;
    background-position: center;
    image-rendering: pixelated;
    width: 70px;
    height: 70px;
    
    transition: color 0.18s, transform 0.2s;

    display: grid;
    place-items: center;

    position: absolute;
    bottom: -35px;
    right: 10%;
    cursor: pointer;
    z-index: 10;
    backdrop-filter: blur(10px);

    &::after {
        content: "+";
        font-family: Roboto;
        font-size: 57px;
        color: #18c767;
        text-shadow: 0 2px 4px #0007;
    }

    &:hover {
        color: #8a8ab3;
        transform: scale(0.9);
    }

    &.active {
        transform: scale(1.1) rotate(2deg) translate(5px, 0);
    }
}

/**
 *  ~ Styling the item container.
 */
@keyframes ambient-bg-motion {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 240px 80px;
    }
}

#container {
    background: url(../assets/background.png);
    background-repeat: repeat;
    animation: ambient-bg-motion 6s infinite linear;
    background-position: 0% 0%;
    background-size: 80px 80px;
    image-rendering: pixelated;
    display: grid;
    box-sizing: border-box;
    height: 1fr;
    
    overflow-y: auto;

    &::-webkit-scrollbar {
        background: #0006;
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: #b88cff;
        width: 10px;
    }
}

#container-fader {
    display: grid;
    justify-content: center;
    background: linear-gradient(0, #000d, #0003);
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-auto-rows: 100px;
    gap: 20px;
    padding: 30px;
    box-sizing: border-box;
    place-items: center;
    padding-top: 60px;
}

/**
 * ~ Styling the items themselves.
 * ~ We add the border, basic styling and hoverable + pop-in effects in here.
 */
.frame-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(185deg, #000, #335);
    image-rendering: pixelated;
    user-select: none;
    box-shadow: 0 0 5px #fff5;
    
    .pixel-frame {
        border: 16px solid transparent;
        border-image: url(../assets/border.png) 4 stretch;
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        
        & img {
            width: 100%;
            height: 100%;
        }

    }
}

.hoverable {
    width: 100%;
    height: 100%;
    
    & > * {
        transition: filter 0.11s, transform 0.09s;
        transition-timing-function: ease;
        cursor: pointer;

        &:hover {
            filter: brightness(1.25);
            transform: rotateX(20deg) rotateZ(-0.8deg);
        }
    }

    &.active > * {
        transform: scale(0.95) rotateX(20deg) rotateZ(-0.8deg);
    }
}

@keyframes pop-in {
    from {
        transform: scale(0) translate(0, 0) rotate(0)
    }

    69% {
        transform: scale(1.1) translate(2px, -1px) rotate(1.3deg)
    }

    to {
        transform: scale(1) translate(0, 0) rotate(0)
    }
}

.item {
    animation: pop-in 0.25s ease;
}